@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: '#03274D';
    --point-color: 'F8B249';
    --size: 5px;
}
.loader {
    background-color: var(--main-color);
    width: 0.25rem;
    height: 0.25rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
    50% { transform: scale(2); }
    100% { transform: scale(3); }
}

.gradient{
    /*background: rgb(252,250,252);*/
    /*background: linear-gradient(27deg, rgb(246, 184, 109) 0%, rgba(51,65,85,1) 51%, rgba(119,130,145,1) 100%);*/
    background: linear-gradient(90deg, rgba(252,250,252,1) 0%, rgb(255, 255, 255) 50%, rgba(254,250,255,1) 100%);
    /*background: rgb(255,245,221);*/
    background: rgb(248, 251, 255);
    /*background: linear-gradient(27deg, rgba(255,245,221,1) 0%, rgba(255,255,255,1) 50%, rgba(252,236,255,1) 100%);*/
    background-attachment: fixed;
    /*add background blur effect*/
    @apply backdrop-blur-2xl
}

.bg-gradient{
    background: rgb(51,65,85);
    /*background: rgb(252,250,252);*/
    background: linear-gradient(27deg, rgba(51,65,85,1) 0%, rgba(51,65,85,1) 51%, rgba(119,130,145,1) 100%);
}
.text-gradient{
    background: rgb(236, 153, 0);
    background: linear-gradient(27deg, rgb(236, 153, 0) 0%, rgb(243, 238, 234) 51%, rgb(208, 3, 107) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}