@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: '#03274D';
    --point-color: 'F8B249';
    --size: 5px;
}
.loader {
    background-color: var(--main-color);
    width: 0.25rem;
    height: 0.25rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
    100% { transform: scale(2); }
}